.cart {
  position: relative;
  color: var(--font-color);
  height: 100vh;
  width: 350px;
  background-color: var(--light-black);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  z-index: 999999;
  transition: transform 1s ease-in-out;
}

.added-games {
  font-size: 1.6rem;
  font-weight: 900;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.total {
  color: var(--gray);
}

.checkout {
  font-weight: 600;
}

.checkout:hover {
  color: var(--violet);
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
}

.close-button {
  cursor: pointer;
}

.visible {
  transform: translateX(0);
}

.invisible {
  transform: translateX(100%);
}

.cart-container {
  position: absolute;
  height: 100vh;
  width: 350px;
  overflow: hidden;
  right: 0;
}

.no-pointer {
  pointer-events: none;
}

.content {
  display: flex;
  flex-direction: column;
  margin-bottom: auto;
  margin-top: 25px;
  gap: 10px;
}

.game {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: var(--lighter-black);
  height: 40px;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  color: var(--landing-button-background);
  gap: 10px;
}

.game .name,
.game .price {
  font-size: 0.9rem;
}

.price {
  margin-left: auto;
}
