.game-details-container {
  background-color: black;
}

.blur {
  filter: blur(4px);
}

/* header */

.game-details {
  padding: 20px 40px;
  color: var(--font-color);
  background-color: black;
  min-height: 100vh;
  min-width: 100vw;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  align-items: center;
}

.back {
  text-decoration: none;
  color: inherit;
  font-size: 1.5rem;
  font-weight: 900;
  cursor: pointer;
}

.game-details h1 {
  font-size: 3rem;
}

/*  content */

.content {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 2fr 0.8fr;
  gap: 30px;
}

.right-section {
  color: var(--slate-font);
  display: flex;
  flex-direction: column;
  min-width: 500px;
  justify-content: space-between;
}

@media screen and (max-width: 1400px) {
  .content {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 750px) {
  .game-details h1 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 580px) {
  .right-section {
    min-width: 200px;
  }

  .game-details h1 {
    font-size: 1.5rem;
  }
  .game-details {
    padding: 10px;
  }

  .header {
    margin-top: 20px;
  }

  .content {
    gap: 10px;
  }
}

@media screen and (max-width: 300px) {
  .header > div {
    font-size: 1rem;
  }

  .header > h1 {
    font-size: 1.2rem
  }
}
