.content h3 {
  color: var(--font-color);
}

.about {
  overflow: scroll;
  max-height: 300px;
  background-color: var(--light-black);
  padding: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  line-height: 1.5;
}

.description {
  margin-top: 10px;
  font-size: 0.9rem;
}

.about-container {
  position: relative;
}

.about-container:after {
  content: '';
  position: absolute;
  left: 0px;
  right: 0px;
  height: 8%;
  bottom: 0px;
  backdrop-filter: blur(1px);
  pointer-events: none;
}

.about::-webkit-scrollbar {
  width: 0;
  height: 0;
  background-color: transparent;
}

.more {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}

.extra-details {
  background-color: var(--zinc);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 15px;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  line-height: 1.8;
  min-height: 50px;
}

.more.show-more {
  max-height: 400px;
  transition: max-height 0.5s ease-in;
}

.handle-more {
  align-self: flex-end;
  cursor: pointer;
}

.more-button {
  position: absolute;
}

.website {
  text-decoration: none;
  color: var(--font-color);
  font-weight: 900;
}
